h1 MVC

p Rocket includes a simple MVC framework that should feel fairly familiar to any Rails developer. Rocket doesn't aim to be API compatible, but it does try to be close enough that you shouldn't have to dig through too much documentation to grok it.

p The 3 parts are ModelRocket, GroundControl, and Hubble. The next several chapters cover these topics in detail.