html, body {
  background: #555;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#wrapper {
  width: 750px;
  background: #333;
  color: white;
  margin: 0px auto;
  min-height: 100%;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

#footer {
  border-top: 1px solid #777;
  margin-top: 10px;
  padding: 10px;
}

#header {
  border-bottom: 1px solid #777;
  margin-bottom: 10px;
  padding: 10px;
}

#header h1 {
  font-size: 68pt;
  color: #777;
  margin: 0px;
  padding: 0px;
  line-height: 58pt;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#header h2 {
  font-size: 20pt;
  color: #777;
  margin: 0px;
  padding: 0px;
  line-height: 18pt;
  margin-left: 154px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#main {
  padding: 10px;
}

a {
  color: white;
}

#navigation {
  padding: 10px;
}

strike {
  color: #555;
}

#logo {
  float: right;
  height: 100px;
}

code {
  background: #000;
  padding: 10px;
  color: #CCC;
  border-radius: 10px;
  display: block;
}