#wrapper
  #header
    h1 MovieList
  .table
    #main
      #navigation
        ul
          li
            != link_to("Movies", {"Movie.index": ""})
      #content
  #footer
    p Don't steal my stuff.